@charset "utf-8";
@import url("reset.css");
@import url("animate.min.css");
body{font-family: "microsoft yahei"!important;}

.show{ display:block;}.hidden{ display:none}.d_i_b{ display:inline-block}
.w_1200{ width:1200px; margin:0 auto;}
.section{  min-width: 1200px; }
.section .w_1200{ position:relative; z-index:1;}
.fl{ float: left;}.fr{ float: right;}

.section1{ width: 100%; height: 690px;/*background: url("../images/tab_pic.png.html") center top no-repeat;*/ position: relative; text-align: center;}
.section1 .bg11{ width: 100%; height: 679px; overflow: hidden; background: url("../images/banner.png") center no-repeat;}
@keyframes line{0%{width:0%;}100%{width: 100%;}}

.top{height:80px;; z-index: 2; top: 25px; left: 0; right: 0;background: #2496ec;width:100%;}
.top img{margin-top:20px;margin-left: 10px;}

.section1 .people{position: absolute;left:-125px;top:450px;}
@media only screen and (max-width: 1477px) {  .section1 .people{position: absolute;left:50px;top:470px;}}
.section1 .s1_text{ height: 223px;overflow: hidden; position: absolute; z-index: 2;right:0;  top: 120px; width: 800px;}
.section1 .s1_text h5{ color: #fff; font-size:46px; padding: 20px 0px; font-weight: normal;line-height: 50px;text-align: right;font-weight:500;}
.section1 .s1_text p{  color: #fff; font-size:24px; padding: 20px 0px;line-height: 26px;text-align: right; font-weight: lighter;}
.section1 .download_box{position: absolute;top:367px;right: 0}
.section1 .download_box div{height:150px;width:150px;margin-left: -23px;float: left;box-sizing: border-box;padding: 12px;position: relative}
.section1 .download_box .img1{height:150px;width:150px;position: absolute;top:0;bottom:0;transform: scale(0);-webkit-transform: scale(0);transform-origin: 75px 75px;-webkit-transform-origin: 75px 75px;border-radius: 5px;}

.section1 .download_box div p{color:#fff;font-size: 14px;margin-top: 16px}

.section1 .download_box div .hover{display: block;-webkit-animation: scale_s7 0.2s linear 1 forwards;animation: scale_s7 0.2s linear 1 forwards; position: absolute;left:0}
.section1 .download_box div .hover1{-webkit-animation: scale_s7x 0.4s linear 1 forwards ;animation: scale_s7x 0.4s linear 1 forwards ;position: absolute;left:0}
@-webkit-keyframes scale_s7 {0% {transform:scale(0);-webkit-transform:scale(0);}100% {transform:scale(1);-webkit-transform:scale(1);}}
@keyframes scale_s7 {0% {transform:scale(0);-webkit-transform:scale(0);}100% {transform:scale(1);-webkit-transform:scale(1);}}
@-webkit-keyframes scale_s7x {0% {transform:scale(1);-webkit-transform:scale(1);}100% {transform:scale(0);-webkit-transform:scale(0);}}
@keyframes scale_s7x {0% {transform:scale(1);-webkit-transform:scale(1);}100% {transform:scale(0);-webkit-transform:scale(0);}}



.section2{height:1105px;}

.section2 .s2_title .title{text-align: center;font-size:36px;margin-top: 50px;}
.section2 .s2_title .explain{text-align: center;font-size:18px;margin-top: 20px;}
.section2 .s2_title div{ background: #508bf8;width:46px;height:6px;margin:30px auto}
.section2 .s2_content{margin-top:70px;}
.s2_content .s2_left{float: left}
.s2_content .s2_right{float: right;padding: 103px 0}
.s2_content .s2_right .item{ width:650px;height:177px;padding: 50px 0;padding-left: 80px;box-sizing: border-box;line-height: 127px;position: relative; }
.section2 .w_1200 .item-active{margin-right: 40px;}
.s2_content .s2_right .item div{float: right;padding-top:30px;width: 400px;}
.s2_content .s2_right .item div h5{line-height: 20px;font-size: 24px;font-weight: normal;color:#4d4c5e;}
.s2_content .s2_right .item div p{line-height: 20px;font-size: 17px;color:#7e7c96;margin-top: 22px;}
.section2 .s2_content .s2_left{position: relative;}
.section2 .s2_content .s2_left .scroll{position: absolute;top: 92px;  left: 35px;  z-index: -1;height: 520px;overflow: hidden;width: 318px;border-radius: 5px;}
/*.section2 .s2_content .s2_left .scroll img{position: absolute;left:0;border-radius: 5px; display: block }*/
.section2 .s2_content .s2_left .scroll .img11{position: absolute;left:0;top:0;border-radius: 2px;}
.section2 .s2_content .s2_left .scroll .img12{position: absolute;left:0;top:95px}
.section2 .s2_content .s2_left .scroll .img13{position: absolute;left:0;top:58px}
.section2 .s2_content .s2_left .scroll .img22{position: absolute;left:0; display: block }
.section2 .w_1200 .item-active{opacity: 0}
.section2 .s2_content .s2_right .item .item-active-bg{position: absolute;top:50px;left:0;background: #f6f6fb;height:127px;padding: 0;float: none;z-index: -1;border-top-right-radius: 100px;border-bottom-right-radius: 100px;width: 0}


.section3{width: 100%;height: 430px;}
.section3 .w_1200 div{float: left;width: 20%;text-align: center;margin-left: 20%;}
.section3 .w_1200 .first{margin-left: 0}
.section3 .s3_item h5{font-size: 24px;color:#4d4c5e;margin: 50px 0 30px 0}
.section3 .s3_item p{font-size: 16px;color:#999;line-height: 30px;}

.section4 {  position: relative; background: url("../images/about_us_bg.png") center no-repeat;height: 454px;}
.section4 .s_4title{width: 100%; text-align: center;font-size: 24px;font-weight: bold;color:#fff;padding: 120px 0 60px 0;}
.section4 .s_4content{color:#fff;font-size: 16px;line-height: 36px;letter-spacing:1px;}

.section5{padding: 40px 0;}
.section5 p{color:#808080;font-size: 12px;line-height: 24px;text-align: center}